h1.modificar {
	color: #000000;
	margin: 0 0 20px;
}

#editModal {
	background-color: white;
	border-radius: 8px;
	border: 1px solid #eceef5;
	box-shadow: rgba(0,0,0,0) 0px 0px 0px 0px, rgba(0,0,0,0) 0px 0px 0px 0px, rgba(0,0,0,0.08) 0px 14px 34px 0px;
	display: none;
	left: 50%;
	padding: 20px;
	position: fixed;
	top: 50%;
	transform: translate(-50%,-50%);
	width: auto;
	z-index: 1000;
}

#editModal.active {
	display: block;
}

.modal-overlay {
	backdrop-filter: blur(5px);
	background-color: rgba(0,0,0,0.5);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 500;
}

.modal-overlay.active {
	display: block;
}